<div id="register">
  <div>
    <%= form_with model: @credential, url: [:registration] do |credential_form| %>
      <%= credential_form.fields_for :basic_profile, @credential.build_basic_profile do |profile_form|%>
        <%= profile_form.fields_for :agent, @credential.basic_profile.build_agent do |agent_form| %>
          <%= agent_form.hidden_field :id %>
        <% end %>
        <%= profile_form.fields_for :detail, @credential.basic_profile.build_detail do |detail_form| %>
          <%= detail_form.fields_for :email_model, @credential.basic_profile.detail.build_email_model do |email_form| %>
            <div class="form-group">
              <%= email_form.label :email %>
              <%= email_form.email_field :email, class: "form-control" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= credential_form.fields_for :datum, @credential.build_datum do |datum_form| %>
        <%= datum_form.fields_for :password_model, @credential.datum.build_password_model do |password_form|%>
          <div class="form-group">
            <%= password_form.label :password %>
            <%= password_form.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= password_form.label :password_confirmation %>
            <%= password_form.password_field :password_confirmation, class: "form-control" %>
          </div>
        <% end %>
      <% end %>
      <%= credential_form.fields_for :basic_profile, @credential.basic_profile do |profile_form|%>
        <%= profile_form.fields_for :detail, @credential.basic_profile.build_detail do |detail_form| %>
          <%= detail_form.fields_for :name_model, @credential.basic_profile.detail.build_name_model do |name_form| %>
            <div class="form-group">
              <%= name_form.label :name %>
              <%= name_form.text_field :name, class: "form-control" %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= credential_form.button type: :submit %>
    <% end %>
    <%= link_to 'Log in', [:new, :session] %>
  </div>
</div>
