<div id="context-navigation" >
  <%= context_navigation %>
  <%= profile_button %>
</div>
<div id="main-window">
  <%= location_list %>
  <div class="conversation">
    <%= message_list %>
    <%= message_form %>
  </div>
  <%= profile_list %>
</div>
